<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dailydisaster"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_main"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Security" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WeeklySchedule" >
        </activity>
        <activity android:name=".AddSchedule" >
        </activity>
        <activity android:name=".Check" >
        </activity>
        <activity android:name=".DBList" >
        </activity>

        <service android:name=".PushService" />

        <activity android:name=".DBGrid" >
        </activity>
        <activity android:name=".GridList" >
        </activity>
        <activity android:name=".AddWeek" >
        </activity>
        <activity android:name=".MainActivity" >
        </activity>
        <activity android:name=".SetPassword" >
        </activity>
        <activity android:name=".Predict" >
        </activity>
        <activity android:name=".Result" >
        </activity>
        <activity android:name=".ConfigActivity"/>
        <activity android:name=".CoverActivity"/>
        <service android:name=".ScreenService"/>
        <receiver android:name=".ScreenReceiver"/>
    </application>

</manifest>
